nav {
    position: fixed;
    z-index: 20;
    top: 0px;
    width: 80%;
    padding: 16px 10% 16px 10%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;   
}

.nav__logo {
    align-self: center;
}

.nav__right {
    display: flex;
    flex-direction: row;
    align-content: center;
    /* background-color: #80bccd; */
}

.nav__menu {
    margin-right: 8px;
    height: 16px;
}

.nav__menu-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    color: var(--primary);
    position: relative;
}

.nav__menu-submenu {
    list-style: none;
    padding-left: 0;
    position: absolute;
    padding-top: 27.5px;
    white-space: nowrap;
    z-index: 1;
    display: none;
}

.nav__menu-submenu-item {
    width: 120px;
    font-size: 16px;
    background-color: #fff;
    padding: 10px 10px;
}

.nav__menu-item:hover > .nav__menu-submenu {
    display: block;
}

.nav__menu-submenu-item:hover {
    border: solid 0.3px var(--tertiary);
    cursor: pointer;
}


a:link {
    color: var(--primary);
}

a:visited {
    color: var(--primary);
}

a:hover {
    cursor: pointer;
    color: var(--tertiary);
}

.nav__menu-submenu-link:hover {
    /* border-bottom: solid 3px var(--tertiary); */
}

.nav__menu-item:hover > .nav__menu-submenu-link {
    color: var(--tertiary);
    /* border-bottom: solid 3px var(--tertiary); */
}

a.patch-default {
    cursor: default;
}

a:active {
    color: var(--tertiary);
}
.nav__action-button {
    border-radius: 8px;
    height: 40px;
    width: 112px;
    border: 0;
    background-color: var(--notice);
    font-family: var(--heading-font);
    font-size: 1rem;
    color: var(--primary);
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.nav__notify-count {
    display: inline-block;
    background-color: var(--notice);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}

footer {
    padding: 30px 10% 30px 10%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #4bb3cc;*/
}

.footer {
    display: inline-block;
}

.footer__left {
    margin: 4px 0 4px 0;
}

.footer__mid {
    margin: 4px 0 4px 0;
}

.footer__right {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 0;
}

.footer__link-item {
    display: inline-block;
    height: 24px;
}