nav {
    position: fixed;
    top: 0px;
    width: 80%;
    padding: 16px 10% 16px 10%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;   
}

.nav__logo {
    align-self: center;
}

.nav__right {
    display: flex;
    flex-direction: row;
    align-content: center;
    /* background-color: #80bccd; */
}

.nav__menu {
    margin-right: 8px;
    height: 16px;
}

.nav__menu-item {
    display: inline-block;
    margin-right: 16px;
    color: var(--primary);
}

a:link {
    color: var(--primary);
}

a:visited {
    color: var(--primary);
}

a:hover {
    color: var(--tertiary);
}

a:active {
    color: var(--tertiary);
}
.nav__action-button {
    border-radius: 8px;
    height: 40px;
    width: 112px;
    border: 0;
    background-color: var(--notice);
    font-family: var(--heading-font);
    font-size: 1rem;
    color: var(--primary);
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

footer {
    padding: 30px 10% 30px 10%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: inline-block;
}

.footer__left {
    margin: 4px 0 4px 0;
}

.footer__mid {
    margin: 4px 0 4px 0;
}

.footer__right {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 0;
}

.footer__link-item {
    display: inline-block;
    height: 24px;
}