.timeTable-title {
  font-family: GenSenRoundedTW-B;
  font-size: 20px;
  color: #003b6b;
  padding: 30px;
}
div.timeTable {
  display: flex;
  align-items: flex-end;
  overflow: auto;
  flex-wrap: wrap;
}
div.timeTable-section {
  vertical-align: middle;
  margin-left: 30px;
}
div.timeTable-caution {
  border-top: solid 2px #003b6b;
  padding: 20px;
}
.timeTable-caution > p {
  font-family: GenSenRoundedTW-M;
  font-size: 16px;
  text-align: left;
  color: #4bb3cc;
}
.timeTable-caution > ol {
  padding-left: 14px;
}
.timeTable-caution li {
  font-family: GenSenRoundedTW-M;
  font-size: 16px;
  line-height: 1.8;
  color: #003b6b;
}
.timeTable-caution > img {
  margin-top: 150px;
  float: right;
}
.timeTable-section > button {
  border: 0;
  border-radius: 8px;
  padding: 3px;
  margin: 10px;
  font-family: GenSenRoundedTW-B;
  font-size: 16px;
  background-color: #f2d60f;
  color: #003b6b;
}
