.std_payment-proof-main {
  margin-top: 80px;
  background: #f5f5f5;
  width: 105vw;
  height: 100vh;
  min-height: 1000px;
}

.std_payment-proof-wrapper {
  width: 80%;
  height: auto;
  padding: 70px 0 20px 10%;
}

.std_payment-proof-head {
  width: 160px;
  margin-left: 0%;
  margin-bottom: 0.5em;
  font-family: GenSenRoundedTW-B;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #003b6b;
}

.std_payment-proof-line {
  width: 160px;
  height: 0;
  margin: 0 330.5px 0 0.5px;
  border: solid 1px #003b6b;
}

.std_personal-details-container {
  background-color: white;
  border-radius: 16px;
  margin: 0vw 23vw 5vw 10vw;
}

.std_personal-details {
  padding: 5%;
  padding-bottom: 2%;
}

.std_personal-details-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.std_personal-details-left {
  margin-right: 0px;
  width: 700px;
}

.std_personal-details-bottom-container {
  margin-left: 70%;
}

.std_personal-detail-title {
  font-size: 18px;
  position: relative;
  color: #4bb3cc;
  align-items: center;
  top: 0px;
  left: 10px;
}

.std_personal-detail-icon {
  position: relative;
  width: 20px;
  top: 2.5px;
  margin-left: 10px;
}

.std_personal-detail-content {
  color: #003b6b;
  margin-left: 100px;
  margin-bottom: 3%;
  font-size: 24px;
  line-height: 1em;
}

.std_personal-detail-content-2ndrow {
  color: #003b6b;
  margin-left: 165px;
  font-size: 24px;
}

.std_personal-detail-bottom-line {
  width: 70%;
  height: 0;
  margin: 10px 10vw 0 10vw;
  border: solid 1px #003b6b;
}
.std_personal-detail-bottom-content {
  color: #003b6b;
  margin-bottom: 3%;
  font-size: 24px;
  line-height: 1em;
}

.std_personal-detail-buttom-content {
  width: 185px;
  height: 32px;
  font-family: GenSenRoundedTW-M;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: center;
  color: #003b6b;
}

.std_personal-detail-buttom {
  border: none;
  margin-bottom: 5%;
  width: 150px;
  height: 40px;
  padding: inherit;
  border-radius: 4px;
  background-color: #f2d60f;
}
