.consulProfile {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vw;
  padding-top: 140px;
  background-color: #f5f5f5;
}
.consulProfile-title {
  text-decoration: underline;
  font-size: 32px;
  text-align: left;
  color: #003b6b;
}
.consulProfile-line-1 {
  width: 7.5vw;
  height: 2px;
  margin: 9px 123.5px 16px 0.5px;
  background-color: #003b6b;
}

.consulProfile-menu button {
  width: 100px;
  margin-top: 32px;
  padding: 12px;
  border-radius: 8px;
  border: solid 1px #4bb3cc;
  font-size: 18px;
  color: #4bb3cc;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  align-items: center;
  border-radius: 8px;
  border: solid 2px #4bb3cc;
  margin-right: 0.5vw;
  cursor: pointer;
  font-family: 'jf-openhuninn-1.1';
}

.consulProfile-menu button:hover {
  background-color: #4bb3cc;
  color: white;
}

.consulProfile-menu {
  margin-bottom: 32px;
}

.consulProfile-content {
  padding: 60px;
  border-radius: 20px;
  background-color: #fff;
}
button {
  cursor: pointer;
}

.consulProfile-viewMode div {
  font-size: 20px;
  color: #003b6b;
  padding: 20px;
}
.consulProfile-viewMode img {
  margin-right: 15px;
}
