/* Day Panel */
.day-label {
    color: #4BB3CC;
    margin: 0;
    margin-bottom: 8px;
}

.day-button-wrapper {
    display: inline-block;
    /* has 3em of checkbox space, solved with negative margin on next title */
}

.day-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center ;

    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin-right: 8px;

    border: 2px solid #4BB3CC;
    color: #4BB3CC;

    transition: background-color 0.25s ease-in-out;
}

.day-button:last-child {
    margin-right: 0;
}

.day-button--checked {
    background-color: #4BB3CC;
    color: white;
}

.day-checkbox {
    position: relative;
    top: calc(-3em - 8px);
    z-index: 10;
    
    height: 3em;
    width: 3em;

    opacity: 0%;
    cursor: pointer;
}

/* Time Panel */
.time-panel-wrapper {
    margin-top: calc(-3em - 8px + 32px);
    margin-bottom: 32px;
}

.time-label {
    color: #4BB3CC;
    margin: 0;
    margin-bottom: 8px;
}

.time-panel-input {
    width: 4em;
    height: 1.5em;

    margin: 0;
    padding: 4px;
    border: 2px solid #4BB3CC;
    border-radius: 8px;
    
    font-size: 1em;
    color: #003B6B;
    font-family: var(--heading-font);
    text-align: center;

    transition: border-color 0.25s ease-in-out;
}

.time-panel-input:focus {
    border: 2px solid #003B6B;
    outline: none;
}

.time-panel-input--error {
    border: 2px solid #DE5454;
    color: #DE5454;
    outline: none;
}

.time-panel-info {
    color: #003B6B;
}

/* Price Panel */
.price-wrapper {
    margin-bottom: 24px;
}

.price-line {
    height: 2px;
    width: 100%;
    background-color: #003B6B;
}

.price-info {
    color: #003B6B;
    text-align: right;
}

.price-price {
    margin-right: 4px;
    font-size: 2em;
}

/* Notice */
.notice-label {
    color: #4BB3CC;
    margin: 0;
    margin-bottom: 8px;
}

.notice-item {
    color: #003B6B;
    margin: 0;
    margin-bottom: 8px;
}
