/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #B0DDE2;
    padding: 8px;
    border-radius: 4px;
}

.week-button {
    height: 1em;
}


.week-button-div {
    display: inline-block;
    cursor: pointer;
}

.week-button-div--invalid {
    cursor: auto;
}
.week-string {
    display: inline-block;

    color: #003B6B;
    font-weight: bold;
}

/* Rows */
.row {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.row--day {
    margin-top: 12px;
    margin-bottom: 12px;
}


/* Slots */
.slot {
    /* margin:; */
    border-radius: 4px;
    width: calc((100% - 32px)/8); 
    height: 40px;
    display: inline-block;
    background-color: #80BCCD;

    transition: background-color 0.25s ease-in-out;
}


.slot--hide {
    opacity: 0;
}

.slot--day {
    height: 50px;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    color: white;
    font-weight: bold;
}

.slot--time {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
}

.slot--o {
    background-color: lightgrey;
}

.slot--n {
    background-color: #F5F5F5;
}

.slot--s {
    background-color: #003B6B;
}

.slot--a {
    background-color: #B0DDE2;
}

.slot--b {
    background-color: #DE5454;
}

/* Ckecbox */
.checkbox {
    opacity: 0%;
    margin: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(150%);
    cursor: pointer;
}

/* Special Text */
.time-label {
    margin-top: -8px;
    font-size: 0.75em;
    color: #003B6B;
}