.clt_schedule-main {
    margin-top: 80px;
    background: #f5f5f5;
    width: 100vw;
    height: 135vh;
    min-height: 1080px;
    position: relative;
}

.clt_schedule-title {
    position: absolute;
    top: 79px;
    left: 10%;
}

.clt_schedule-title-text {
    font-size: 32px;
    color: #003b6b;
}

.clt_schedule-title-underline {
    top: 27px;
    height: 2px;
    width: 128px;
    background-color: #003b6b;
}

.clt_schedule-mode-btn {
    display: flex;
    position: absolute;
    top: 145px;
    left: 10%;
}

.clt_schedule-mode-btn-calender {
    height: 25px;
    margin-right: 28px;
    background: none;
    border: none;
    padding: 0;
    position: relative;
    width: 90px;
}

.clt_schedule-mode-calender-icon {
    position: absolute;
    height: 24px;
    width: auto;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.clt_schedule-mode-calender-text {
    position: absolute;
    color: #b0dde2;
    font-family: var(--heading-font);
    font-size: 20px;
    bottom: 1px;
    left: 27px;
}

.clt_schedule-mode-btn-calender:hover {
    cursor: pointer;
}

.clt_schedule-mode-btn-list {
    height: 25px;
    background: none;
    border: none;
    padding: 0;
    position: relative;
    width: 90px;
}

.clt_schedule-mode-list-icon {
    position: absolute;
    height: 19px;
    width: auto;
    padding: 0;
    margin: 0;
    top: 3px;
    left: 0;
}

.clt_schedule-mode-list-text {
    font-family: var(--heading-font);
    position: absolute;
    color: #003b6b;
    font-size: 20px;
    bottom: 1px;
    left: 27px;
}

.clt_schedule-mode-btn-list:hover {
    cursor: pointer;
}

.clt_schedule-display {
    position: absolute;
    top: 140px;
    left: 10%;
}

.clt_schedule-calender {
    width: 77vw;
    /*max-width: 1440px;*/
    border-radius: 24px;
    overflow: hidden;
    border: solid 2px #003b6b;
}

.clt_schedule-calender-title {
    width: inherit;
    height: 55px;
    text-align: center;
    background-color: #b0dde2;
    padding-top: 10px;
    border: solid 0.5px #003b6b;
}

.clt_schedule-calender-title-text {
    margin-top: 28px;
    font-size: 32px;
    padding: 0;
    align-items: center;
    margin-left: 26vw;
    margin-right: 26vw;
}

.clt_schedule-calender-btn-left {
    background: none;
    border: none;
}

.clt_schedule-calender-btn-right {
    background: none;
    border: none;
}

.clt_schedule-calender-btn-left:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.clt_schedule-calender-btn-right:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.clt_schedule-calender-header {
    width: inherit;
    display: flex;
}

.clt_schedule-calender-header-text {
    width: 11vw;
    height: 37.5px;
    text-align: center;
    align-items: center;
    border: solid 0.5px #003b6b;
    font-size: 24px;
    padding-top: 10px;
    color: #f5f5f5;
    background-color: #80bccd;
    font-family: var(--heading-font);
}

.clt_schedule-calender-row {
    width: inherit;
    display: flex;
}

.clt_schedule-calender-date-block {
    width: 11vw;
    height: 18vh;
    border: solid 0.5px #003b6b;
    position: relative;
    background-color: #fff;
}

.clt_schedule-calender-date-block-date-number {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 1.2vw;
    top: 1vh;
    font-size: 3vh;
}

.clt_schedule-calender-date-block-meetings {
    position: absolute;
    top: 6vh;
    left: 1.2vw;
    background-color: ivory;
    /*overflow-y: scroll;*/
    margin: 0 0 4px 0;
}

.clt_schedule-calender-meeting-info-finished {
    text-align: center;
    margin: 0;
    font-size: 2vh;
    width: 100%;
    background-color: #f5f5f5;
    color: #b0dde2;
    padding: 3px;
    border-radius: 8px;
    font-family: var(--heading-font);
    margin-bottom: 2px;
}

.clt_schedule-calender-meeting-info-todo {
    text-align: center;
    margin: 0;
    font-size: 2vh;
    width: 100%;
    background-color: #4bb3cc;
    color: #f5f5f5;
    padding: 3px;
    border-radius: 8px;
    font-family: var(--heading-font);
    margin-bottom: 2px;
}

.clt_schedule-calender-meeting-info-canceled {
    text-align: center;
    margin: 0;
    font-size: 2vh;
    width: 100%;
    background-color: #de5454;
    color: #f5f5f5;
    padding: 3px;
    border-radius: 8px;
    font-family: var(--heading-font);
    margin-bottom: 2px;
}

.clt_schedule-calender-meeting-info-ready {
    text-align: center;
    margin: 0;
    font-size: 2vh;
    width: 100%;
    background-color: #f2d60f;
    color: #003b6b;
    padding: 3px;
    border-radius: 8px;
    font-family: var(--heading-font);
    margin-bottom: 2px;
}

.clt_schedule-list-modes {
    margin-top: 2.5vh;
}

.clt_schedule-list-mode {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    border: solid 2px #4bb3cc;
    margin-right: 0.5vw;
    font-family: var(--heading-font);
}

.clt_schedule-list-mode:hover {
    cursor: pointer;
}

.clt_schedule-list-items {
    margin-top: 4vh;
    width: 73vw;
}

.clt_schedule-list-future-component {
    width: inherit;
    background-color: #fff;
    border-radius: 16px;
    border: solid 1px #4bb3cc;
    padding: 40px;
    margin-bottom: 12px;
}

.clt_schedule-list-future-row1 {
    display: flex;
    width: inherit;
    height: 32px;
}

.clt_schedule-list-future-row2 {
    display: flex;
    width: inherit;
    margin-top: 2vh;
    height: 32px;
}

.clt_schedule-list-future-row3 {
    display: flex;
    width: inherit;
    margin-top: 2vh;
    height: 32px;
}

.clt_schedule-list-time {
    position: relative;
    width: 24vw;
}

.clt_schedule-list-time-icon {
    position: absolute;
    width: 20px;
    top: 6px;
}

.clt_schedule-list-time-title {
    font-size: 100%;
    position: absolute;
    color: #4bb3cc;
    align-items: center;
    top: 6px;
    left: 3vw;
}

.clt_schedule-list-time-text {
    position: absolute;
    left: 10vw;
    color: #003b6b;
    font-size: 17px;
    font-family: var(--heading-font);
    width: 28vw;
    top: 5px;
}

.clt_schedule-list-exp {
    position: relative;
    left: 29.1vw;
    width: 100%;
}

.clt_schedule-list-exp-icon {
    position: absolute;
    width: 22px;
    top: 6px;
}

.clt_schedule-list-exp-title {
    position: absolute;
    left: 3vw;
    font-size: 16px;
    top: 6px;
    color: #4bb3cc;
}

.clt_schedule-list-exp-text {
    position: absolute;
    left: 10vw;
    font-size: 24px;
    color: #003b6b;
    top: 1px;
}

.clt_schedule-list-payment-status {
    margin-left: 25vw;
    color: #c0ac49;
    font-size: 16px;
    width: 100%;
    text-align: right;
    padding-top: 5px;
}

.clt_schedule-list-student {
    position: relative;
    width: 24vw;
}

.clt_schedule-list-student-icon {
    position: absolute;
    width: 20px;
    top: 8px;
}

.clt_schedule-list-student-title {
    font-size: 16px;
    position: absolute;
    color: #4bb3cc;
    top: 5.5px;
    left: 3vw;
    height: inherit;
}

.clt_schedule-list-student-text {
    position: absolute;
    left: 10vw;
    color: #003b6b;
    font-size: 100%;
    top: 0.5px;
}

.clt_schedule-list-remark {
    position: relative;
    left: 12vw;
    width: 32vw;
}

.clt_schedule-list-remark-icon {
    position: absolute;
    width: 20px;
    top: 7.5px;
}

.clt_schedule-list-remark-title {
    position: absolute;
    left: 3vw;
    font-size: 16px;
    top: 6px;
    color: #4bb3cc;
}

.clt_schedule-list-remark-text {
    font-size: normal;
    position: absolute;
    left: 10vw;
    color: #003b6b;
    top: 0.5px;
}

.clt_schedule-list-content {
    position: relative;
    width: 24vw;
}

.clt_schedule-list-content-icon {
    position: absolute;
    width: 20px;
    top: 7px;
}

.clt_schedule-list-content-title {
    font-size: 16px;
    position: absolute;
    color: #4bb3cc;
    top: 6px;
    left: 3vw;
}

.clt_schedule-list-content-text {
    position: absolute;
    left: 10vw;
    color: #003b6b;
    width: 24vw;
    top: 5.5px;
    display: flex;
}

.clt_schedule-list-content-item {
    text-align: center;
    align-items: center;
    border-radius: 8px;
    border: solid 1px #003b6b;
    padding: 0.4vh;
    font-size: 12px;
    margin-right: 0.5vw;
}

.clt_schedule-list-future-action-btn {
    margin-top: 2vh;
    text-align: right;
}

.clt_schedule-list-future-check {
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
    background-color: #003b6b;
    color: #f5f5f5;
    border: none;
    letter-spacing: 1px;
    font-family: var(--heading-font);
}

.clt_schedule-list-future-check:hover {
    cursor: pointer;
}

.clt_schedule-list-future-cancel {
    font-size: 16px;
    font-family: var(--heading-font);
    padding: 5px 21px 5px 21px;
    border-radius: 8px;
    background-color: #4bb3cc;
    color: #f5f5f5;
    border: none;
    letter-spacing: 1px;
    margin-left: 1vw;
}

.clt_schedule-list-future-cancel:hover {
    cursor: pointer;
}

.clt_schedule-list-future-open {
    font-size: 16px;
    font-family: var(--heading-font);
    padding: 5px;
    border-radius: 8px;
    background-color: #f2d60f;
    color: #003b6b;
    border: none;
    letter-spacing: 1px;
    margin-left: 1vw;
}

.clt_schedule-list-future-open:hover {
    cursor: pointer;
}

.clt_schedule-list-past-component {
    width: inherit;
    background-color: #fff;
    border-radius: 16px;
    border: solid 1px #4bb3cc;
    padding: 40px;
    margin-bottom: 12px;
}

.clt_schedule-list-past-row1 {
    display: flex;
    width: inherit;
    height: 32px;
}

.clt_schedule-list-past-row2 {
    display: flex;
    width: inherit;
    margin-top: 2vh;
    height: 32px;
}

.clt_schedule-list-past-row3 {
    display: flex;
    width: inherit;
    margin-top: 2vh;
    padding: 0;
    height: 32px;
}

.clt_schedule-list-feedback {
    position: relative;
    left: 12vw;
    width: 32vw;
}

.clt_schedule-list-feedback-icon {
    position: absolute;
    width: 20px;
    top: 7.5px;
}

.clt_schedule-list-feedback-title {
    position: absolute;
    left: 3vw;
    font-size: 16px;
    top: 6px;
    color: #4bb3cc;
}

.clt_schedule-list-feedback-text {
    position: absolute;
    left: 10vw;
    top: 1px;
    font-size: 16px;
    color: #003b6b;
}

.clt_schedule-list-cancel-component {
    width: inherit;
    background-color: #fff;
    border-radius: 16px;
    border: solid 1px #4bb3cc;
    padding: 40px;   
    margin-bottom: 12px;
}

.clt_schedule-list-cancel-row1 {
    display: flex;
    width: inherit;
    height: 32px;
}

.clt_schedule-list-cancel-row2 {
    display: flex;
    width: inherit;
    margin-top: 2vh;
    height: 32px;
}

.clt_schedule-list-cancel-row3 {
    display: flex;
    width: inherit;
    margin-top: 2vh;
    padding: 0;
    height: 32px;
}

.clt_list-empty-msg {
    color: #003b6b;
    margin-top: 10vh;
}