.clt_progile-main {
  padding: 79px 280px 353px 240px;
  background-color: #f5f5f5;
}

/*Banner*/
.clt_profile-banner-name {
  width: 60px;
  height: 27px;
  margin: 60px 151px 7px 9px;
  font-family: GenSenRoundedTW-B;
  font-size: 20px;
  color: #003b6b;
}
.clt_profile-banner-record {
  width: 147px;
  height: 98px;
  margin: 7px 64px 40.5px 9px;
}
.clt_profile-times {
  /* width: 122px; */
  /* height: 31px; */
  /* margin: 0 25px 3px 0; */
}
.clt_profile-banner-already {
  width: 54px;
  height: 24px;
  margin: 5px 31px 2px 0;
  font-family: GenSenRoundedTW-M;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #4bb3cc;
}
.clt_profile-banner-num {
  width: 37px;
  height: 31px;
  margin: 0 0 0 31px;
  font-family: GenSenRoundedTW-M;
  font-size: 24px;
  line-height: 1.17;
  color: #003b6b;
}
.star {
  width: 62px;
  height: 64px;
  margin: 3px 0 0 34.8px;
  font-family: GenSenRoundedTW-B;
  font-size: 48px;
  color: #003b6b;
}
.Intersection-2 {
  width: 180px;
  height: 180px;
  margin: 0 0 52.5px 19.5px;
}

.clt_home-intro {
  /*width: 1400px;*/
  height: 1191px;
  margin: 37.6px 0 0;
  padding: 62px 99.5px 83.2px 100.5px;
  border-radius: 20px;
  background-color: #fff;
}
