.std_home-main {
    background: #f5f5f5;
    min-height: calc(100vh - 80px);
    
    margin-top: 80px;
}

.std_home-main__first-row {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
}

.std_home-greeting {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 64px;
    padding-bottom: 48px;
}

.std_home-greet-content {
}

.std_home-greet-bear {
    margin-bottom: -6px;
}

.std_home-greet {
    color: #003b6b;
    font-size: 20px;
    margin-left: 16px;
}

.std_home-greet-usrname {
    color: #4bb3cc;
    font-size: 32px;
    margin-left: 8px;
}

.std_home-greet-wishes {
    margin-left: 8px;
    color: #003b6b;
    font-size: 20px;
}

.std_home-greet-underline {
    height: 3px;
    width: 400.5px;
    background-color: #003b6b;
    border-radius: 4px;
}

.std_home-ancmt {
    margin-right: 32px;
    flex: 1;
}

.std_home-ancmt-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.std_home-ancmt-title-icon {
    height: 1em;
}

.std_home-ancmt-title-content {
    margin-left: 8px;
    font-size: 1em;
    color: #003b6b;
}

.std_home-ancmt-banner {
    width: 30vw;
    height: 200px;
    border-radius: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.std_home-ancmt-banner-title {
    font-size: 1em;
    color: #003b6b;
}

.std_home-ancmt-banner-link {
    font-size: 24px;
    color: #003b6b;
}

.std_home-ancmt-banner-link:hover {
    color: #7ae4ff;
}

/* FIXME */
.std_home-myapnt {
    margin-bottom: 32px;
}

.std_home-myapnt-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.std_home-myapnt-title-icon {
    height: 1em;
}

.std_home-myapnt-title-text {
    font-size: 1em;
    color: #003b6b;
    margin-left: 4px;
}

.std_home-myapnt-show-apnt {
    width: calc(80vw - 30vw - 32px);
    margin-bottom: 8px;
}

.std_home-myapnt-blocks {
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin-bottom: 8px;
}

.std_home-myapnt-blocks:hover {
    /* overflow: auto; */
}

.std_home-myapnt-card {
    padding: 20px;
    background-color: #fff;
    border-radius: 16px;
    flex: 1;
    margin-right: 8px;

    box-sizing: border-box;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.std_home-myapnt-card:last-child {
    margin-right: 0;
}

.std_home-myapnt-blocks p {
    margin: 0;
    font-size: 0.8em;
    line-height: 1.2;
    color: #003b6b;
}

.std-card-consul-info {
    margin-top: 8px;
}

.std-card-specified-features {
    margin-top: 8px;
    display: flex;
}

.std-card-major {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.std-card-major:hover {
    overflow: scroll;
}

.std-card-feature {
    padding: 2.5px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    border: solid 1px #4bb3cc;
    color: #4bb3cc;
    border-radius: 8px;
    margin-right: 4px;
}

.std-card-btns {
    margin-top: 12px;
    text-align: right;
}

.std-card-unavailable-button {
    color: #fff;
    background-color: #4bb3cc;
    font-size: 0.8em;
    padding: 4px 8px;
    border: none;
    border-radius: 8px;
    margin-right: 4px;
    font-family: var(--heading-font);
}
.std-card-open-meeting {
    color: #003b6b;
    background-color: #f2d60f;
    font-size: 0.8em;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-family: var(--heading-font);
}

.std_home-myapnt-show-all-link-block {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.std_home-myapnt-show-all-link {
    color: #003b6b;
    display: flex;
    align-items: center;
}

.std_home-myapnt-link-text {
    margin-right: 4px;
}

.std_home-myapnt-link-arrow {
    height: 0.8em;
}

.std_home-myapnt-empty {
    text-align: center;
    font-size: 25px;
    padding-top: 87.5px;
}