/* Submit Payment Display */
.std_submit-payment-display-wrapper {
  width: 80vw;
  background-color: #f5f5f5;
  padding: 120px 10vw 32px 10vw;
}

.std_submit-payment-display-heading {
  margin-left: 0%;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #003b6b;
  margin-bottom: 2px;
}

.std_submit-payment-display-line {
  width: 9rem;
  border: solid 1px #003b6b;
}


/* Meeting Payment Card Top */
.std_meeting-payment-container {
  background: #f5f5f5;
}

.std_meeting-payment-card-container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  width: 80vw;
}

.std_meeting-payment {
  padding: 10vh 5vw 0 5vw;
}

.std_meeting-payment-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.std_meeting-payment-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0px;
  width: 35vw;
}

.std_meeting-payment-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0px;
  width: 35vw;
}

.std_meeting-payment-icon {
  width: 20px;
  height: 16px;
  margin-right: 8px;
}

.std_meeting-payment-title {
  color: #4bb3cc;
  margin: 0;
  margin-right: 60px;
}

.std_meeting-payment-content {
  color: #003b6b;
  margin: 0;
}

.std_meeting-payment-input {
  box-sizing: border-box;
  background-color: white;
  margin-right: 8px;
  border: 2px solid #4bb3cc;
  border-radius: 8px;
  height: 40px;
  width: 250px;
}

.std_meeting-payment-button {
  box-sizing: border-box;
  background-color: #4bb3cc;
  font-size: 16px;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-family: var(--heading-font);
}

.std_meeting-payment-title-discount {
  margin-right: 75px;
}

.std_meeting-payment-bottom-line {
  width: 70vw;
  height: 0;
  margin: auto;
  border: solid 1px #003b6b;
}


/* Meeting Payment Card Bottom */
.std_meeting-payment-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: bottom;
  padding-left: 5vw;
  padding-right: 5vw;
}

.std_meeting-payment-bottom-container:last-child {
  padding-bottom: 5vh;
}

.std_meeting-payment-bottom-icon {
  
  align-self: bottom;
}

.std_meeting-payment-bottom-content {
  color: #003b6b;
}

.std_meeting-payment-bottom-content-span {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 24px;
}

.std_meeting-payment-buttom-button {
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  width: 120px;
  background-color: #f2d60f;
  color: #003b6b;
  font-family: var(--heading-font);
}

.std_meeting-payment-bottom-form-container {
  padding-left: 5vw;
  padding-right: 5vw;
}

.std_meeting-payment-bottom-form-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.std_meeting-payment-bottom-form-title {
  width: 120px;
  color: #4bb3cc;
}

.std_meeting-payment-bottom-form-input {
  box-sizing: border-box;
  background-color: white;
  margin-right: 8px;
  border: 2px solid #4bb3cc;
  border-radius: 8px;
  /* height: 40px;
  width: 250px; */
  font-size: 1rem;
  color: var(--primary);
  font-family: var(--heading-font);
  padding: 12px;
}

.std_meeting-payment-bottom-form-input:focus {
  border: 2px solid var(--primary);
}

.std_meeting-payment-bottom-form-label {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #4bb3cc;
  font-size: 16px;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-family: var(--heading-font);
  cursor: pointer;
}

.std_meeting-payment-bottom-form-file-input {
  display: none;
}

/* Blank Footer */
footer {
  background-color: #f5f5f5;
}

.std_submit-payment-display__overall-wrapper {
  min-height: 100vh;
  background-color: var(--off-white);
}