.std_payment-check-main {
  margin-top: 80px;
  background: #f5f5f5;
  width: 105vw;
  height: 100vh;
  min-height: 1000px;
}

.std_payment-check-wrapper {
  width: 80%;
  height: auto;
  padding: 70px 0 20px 10%;
}

.std_payment-check-headimg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}

.std_payment-check-heading-label-container {
  position: relative;
  text-align: center;
}

.std_payment-check-heading-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
}

.std_payment-check-heading-bar {
  padding-bottom: 45px;
}

.std_payment-check-heading-label-bottom {
  align-items: center;
  height: 18px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #003b6b;
  margin-top: 4px;
}

.std_payment-check-head {
  width: 80px;
  margin-left: 0%;
  margin-bottom: 0.5em;
  font-family: GenSenRoundedTW-B;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #003b6b;
}

.std_payment-check-line {
  width: 128px;
  height: 0;
  margin: 0 330.5px 0 0.5px;
  border: solid 1px #003b6b;
}

.std_payment-check-content {
  align-items: center;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #003b6b;
}

.std_personal-details-container {
  background-color: white;
  border-radius: 16px;
  margin: 0 10vw 0 10vw;
}

.std_personal-details {
  padding: 32px;
}

.std_personal-details-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.std_personal-details-left {
  margin-right: 300px;
}

.std_personal-details-bottom-container {
  text-align: right;
}
