@font-face {
    font-family: 'jf-openhuninn-1.1';
    src: url('./fonts/jf-openhuninn-11.woff2') format('woff2');
    src: url('./fonts/jf-openhuninn-11.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Font Family */
    --heading-font: "jf-openhuninn-1.1", san-serif;

    /* Colors */
    --primary: #003b6b;
    --secondary: #4bb3cc;
    --tertiary: #80bccd;
    --quaternary: #b0dde2;
    --off-white: #f5f5f5;
    --notice: #f2d60f;
    --dark-highlight: #c0ac49;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--heading-font);
    margin: 0;
    /*
    background: url(./LandingPage/img/background.png), linear-gradient(#4bb3cc 9%, #afeff0 17.5%, #003b6b 29%, #003b6b 41%, #4bb3cc 47%, #003b6b 99%);
    background-size: auto 5358px;
    background-repeat: no-repeat;
    background-position: top center;
    */
}

a, a:link, a:visited {
    text-decoration: none;
}

.light-up {
    color: var(--tertiary);
}

/*
nav {
    position: fixed;
    top: 0px;
    width: 80%;
    padding: 16px 10% 16px 10%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;   
}

.nav__logo {
    align-self: center;
}

.nav__right {
    display: flex;
    flex-direction: row;
    align-content: center;
    // background-color: #80bccd; 
}

.nav__menu {
    margin-right: 8px;
    height: 16px;
}

.nav__menu-item {
    display: inline-block;
    margin-right: 16px;
    color: var(--primary);
}

a:link {
    color: var(--primary);
}

a:visited {
    color: var(--primary);
}

a:hover {
    color: var(--tertiary);
}

a:active {
    color: var(--tertiary);
}
.nav__action-button {
    border-radius: 8px;
    height: 40px;
    width: 112px;
    border: 0;
    background-color: var(--notice);
    font-family: var(--heading-font);
    font-size: 1rem;
    color: var(--primary);
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

footer {
    padding: 30px 10% 30px 10%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: inline-block;
}

.footer__left {
    margin: 4px 0 4px 0;
}

.footer__mid {
    margin: 4px 0 4px 0;
}

.footer__right {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 0;
}

.footer__link-item {
    display: inline-block;
    height: 24px;
}
*/
